body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    border: 1px solid #131313;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 1px solid #faeaea;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #bbb7b7;
}

.btn:hover {
    background-color: #f0f0f0;
}

.btn:active {
    background-color: #ddd;
}

.equal {
    grid-column: span 2;
    background-color: #4caf50;
    color: #fff;
}

.equal:hover {
    background-color: #45a049;
}

.zero {
    grid-column: span 2;
}
